In [ ]:
step 1. 
import lib
import pymysql
or
from pymysql import *

In [1]:
import pymysql as asd

In [ ]:
step 2.
connect with database and return obj of connection string
con(object)=pymysql.connect(db='databasename',user='root',passwd='password',host='where running mysql')
or
con=connect(db='dbname',user='root',passwd='root',host='localhost')

In [ ]:
step 3

create cursor(cursor is temporary storage area)

cur=conobject.cursor()

In [2]:
step 4

create sql statement
cur.execute("sql statement")

<class 'int'>

In [ ]:
step 5
after executing you mst commit

In [2]:
#pip install pymysql
import pymysql
con=pymysql.connect(db='bank',user='root',passwd='root',host='localhost')
deptno=int(input('Enter Dept No'))
dname=input('Depat Name')
cur=con.cursor()
i=cur.execute("insert into dept values(%d,'%s')"%(deptno,dname))
if i==1:
    print('Record Saved')
    con.commit()

Enter Dept No100
Depat NameKamal
Record Saved

In [4]:
from pymysql import *
con=connect(db='juneja',user='root',passwd='root',host='localhost')
cur=con.cursor()
cur.execute("create table bank2(acno int,holder_name varchar(30))")
con.commit()

In [13]:
#for show all record
from pymysql import *
con=connect(db='bank',user='root',passwd='root',host='localhost')
cur=con.cursor()
cur.execute("select * from emp")#select all row from table and store it into cursor
result=cur.fetchall()#fetch all record from cursor and store it into tuple
#print(result)
for x in range(len(result)):
    print('Emp No',result[x][0])
    print('Emp Name',result[x][1])
    print('Salary',result[x][2])
    print('Designation',result[x][3])
    print('Dept No',result[x][4])
    print('-----------------------------------------------------')

Emp No 101
Emp Name Priya Juneja
Salary 123444.0
Designation ASE
Dept No 10
-----------------------------------------------------
Emp No 102
Emp Name Mahak Juneja
Salary 123444.0
Designation ASE
Dept No 20
-----------------------------------------------------
Emp No 103
Emp Name Tanay
Salary 66665.0
Designation Sr Manager
Dept No 30
-----------------------------------------------------
Emp No 106
Emp Name Kamal
Salary 85333.0
Designation SE
Dept No 10
-----------------------------------------------------
Emp No 107
Emp Name Amar
Salary 25333.0
Designation SE
Dept No 10
-----------------------------------------------------

In [10]:
#for search
import pymysql
con=pymysql.connect(db='bank',user='root',passwd='root',host='localhost')
cur=con.cursor()
name=input('Enter Name to Search')
cur.execute("select * from emp where ename='%s'"%(name))
result=cur.fetchall()
print(result)

Enter Name to SearchManoj
((105, 'Manoj', 45333.0, 'SE', 10),)

In [12]:
#for delete
import pymysql
con=pymysql.connect(db='bank',user='root',passwd='root',host='localhost')
cur=con.cursor()
eno=int(input('Enter Emp No'))
i=cur.execute("delete from emp where ename='%s'"%(name))
if i==1:
    con.commit()#permanent saved all transaction
    print('Record Deleted')

Enter Emp No105
Record Deleted

In [14]:
import pymysql
con=pymysql.connect(db='bank',user='root',passwd='root',host='localhost')
cur=con.cursor()
empno=int(input('Emp No'))
sal=float(input('Salary'))
i=cur.execute("update emp set salary=%f where empno=%d"%(sal,empno))
if i==1:
    con.commit()
    print('Record Updated')

Emp No101
Salary160000
Record Updated